body {
    background-color: rgb(0, 0, 0);
}

button{
    background-color: rgb(187, 149, 230);
    color: black;
    border-radius: 12px;
    font-family: monospace;
    padding: 8;
    text-align: center;
}

button:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(187, 149, 230);
}

#pacArray {
    color: aquamarine;
}